<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="static/styles.css" rel="stylesheet" />
    <title>Let me Cook</title>
  </head>

  <body>
    <div class="header">
      <div class="header-content">
        <h1><a href="/" class="home-link">Let me Cook</a></h1>
        <a href="/contact" class="contact-btn">Contact Us</a>
      </div>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
